body{
    width: 100%;
    margin: 0;
    background-image: url(./images/cloth9.jpg);
    background-repeat: no-repeat;
}
.navbar{
    background-color:rgb(54, 9, 9);
    height: 100px;
}
div ul li{
    width: 100%;
    display: inline;
    text-decoration: none;
  margin-left: 120px;
  position: relative;
  bottom: 80px;
  font-size: 25px;
  color: white;
  font-weight: bolder;

}
.logo{
    margin-left: 0px;
}
.search{
    margin-left: 1000px;
    margin-top: 0px;
    position: relative;
    bottom: 40px;
    border-radius: 10px;
    padding-right: 20px;
}
.search:hover{
    /* margin-left: 1000px;
    margin-top: 0px;
    position: relative;
    bottom: 40px;
    border-radius: 10px; */
    padding: 3px 30px 3px 30px;
}
a{
    text-decoration: none;
}
.heart{
    position: relative;
    bottom: 35px;
    margin-left: 20px;
}
.heart:hover{
    position: relative;
    bottom: 35px;
    margin-left: 20px;
    width:30px ;
}
.about{
    font-size: 20px;
  margin: 50px 0 0 900px;
  width: 500px;
  border-radius: 20px;
 
    border: 1px solid black;

    padding: 20px;
    background-color: rgb(54, 9, 9);
    color: white;
}
.about1{
    font-size: 20px;
  margin: 100px 0 0 100px;
  width: 500px;
  border-radius: 20px;
 
    border: 1px solid black;

    padding: 20px;
    background-color: rgb(54, 9, 9);
    color: white;
}